node_modules

#Hardhat files
cache
artifacts

erc20
.openzeppelin/unknown-97.json
.openzeppelin/unknown-31337.json
.secret.json
package-lock.json
.env
metadata_template/collectionURI-010-test.json
Bernie-Sanders.json
AuctionNFT_ABI.json
DefiForYouNFTFactory_ABI.json
Hub_ABI.json
SellNFT_ABI.json
DefiForYouNFTDefault_ABI.json
metadata_template/webdesign_vs_webdev.json

#remix artifacts
contracts/.deps/*
DefiForYouNFT_ABI.json
