{
    "mnemonic": "",
    "Wallet": "",
    "InfuraKey": "",
    "BscScanApiKey": "",
    "EtherscanApiKey": "",
    "PrivateKey": [
        "",
        ""
    ],
    "PrelivePK": [
        ""
    ]
}